html, body {
	height: 100%;
	margin: 0;
	background-image:url('./images/background.png');
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Montserrat Alternates', sans-serif;
}
.helix-nav {
	margin:0px !important;
	font-family: 'Montserrat Alternates', sans-serif;
}
.helix-title {
	font-size: 34px !important;
	font-family: 'Montserrat Alternates', sans-serif;
}
.helix-card {
	padding: 32px;
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
}

.btn-helix {
  color: #fff;
  background-color: #9e808b;
  border-color: #94808b;
}
.btn-helix:hover,
.btn-helix:focus,
.btn-helix:active,
.btn-helix.active,
.open > .dropdown-toggle.btn-helix {
  color: #ffffff;
  background-color: #9e808b;
  border-color: #94808b;
}
.btn-helix:active,
.btn-helix.active,
.open > .dropdown-toggle.btn-helix {
  background-image: none;
}
.btn-helix.disabled,
.btn-helix[disabled],
fieldset[disabled] .btn-helix,
.btn-helix.disabled:hover,
.btn-helix[disabled]:hover,
fieldset[disabled] .btn-helix:hover,
.btn-helix.disabled:focus,
.btn-helix[disabled]:focus,
fieldset[disabled] .btn-helix:focus,
.btn-helix.disabled:active,
.btn-helix[disabled]:active,
fieldset[disabled] .btn-helix:active,
.btn-helix.disabled.active,
.btn-helix[disabled].active,
fieldset[disabled] .btn-helix.active {
	color: #fff;
  background-color: #4e495b;
  border-color: #48495b;
}
.btn-helix .badge {
  color: #fff;
  background-color: #9e808b;
}